
// ==== ==== Background Color Series ==== ====

$pri-bg: #150035;
$sec-bg: #0b001b;

$lnk_bg: #5e13cd;


// ==== ==== Navbar Font Color Series ==== ====

$main-nav-fc: #944bff;
$hov-nav-fc: #ff39dc;


// ==== ==== FAQ TextBox Hover Color ==== ====

$faq-hov: #fcb100;


// ==== ==== Subscribe Form Color ==== ====

$subs_form: #3a0090;







