
// ==== ==== Signup: Banner start here ==== ====

#contact_page {
    #banner {
        padding-top: 245px;
        padding-bottom: 115px;
        .link_pos {
            top: 175px;
        }
    }
}

// ==== ==== Signup: Banner End here ==== ====