
// ==== ==== Membership: Plan part start here ==== ====

#member_page {
    #price {
        padding-top: 240px;
        padding-bottom: 510px;
    }
    #price2 {
        padding-bottom: 630px;
    }
}




// ==== ==== Membership: Plan part End here ==== ====